@font-face {
  font-family: 'raleway';
  src: url('./assets/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'raleway-bold';
  src: url('./assets/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'raleway-black';
  src: url('./assets/fonts/Raleway-Black.ttf');
}

@font-face {
  font-family: 'cabin';
  src: url('./assets/fonts/Cabin-VariableFont.ttf');
}

@font-face {
  font-family: 'pt-mono';
  src: url('./assets/fonts/PTMono-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F2E8;
}
